.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  margin-bottom: 10px;
}

// navigation header
.menu {
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
    position: relative;
  }
}

.menu__list {
  display: flex;
  > li {
    margin-right: 48px;
    &:nth-child(5) {
      margin-right: 24px;
    }
    p {
      position: relative;
      cursor: pointer;
      @include font(Roboto, normal, normal, 14px, #333333);
      line-height: 157%;
      letter-spacing: -0.02em;
      &:after {
        border-bottom: 1px solid #333333;
        border-right: 1px solid #333333;
        content: "";
        transform: rotate(45deg);
        width: 4px;
        height: 4px;
        top: -2px;
        right: -11px;
        bottom: 0;
        margin: auto;
        position: absolute;
        transition: 0.2s;
      }
      &:hover:after {
        transform: rotate(227deg) translateX(-2px) translateY(-2px);
      }
    }
    a {
      @include font(Roboto, normal, normal, 14px, #333333);
      line-height: 157%;
      letter-spacing: -0.02em;
    }
    &:hover .sub-menu__list {
      display: block;
    }
  }
}
.sub-menu__list {
  display: none;
  width: 125%;
  z-index: 5;
  position: absolute;
  top: 13px;
  left: 0;
  right: 0;
  padding-top: 7px;
  > li {
    background-color: #f2f2f2;
    &:hover {
      background-color: #f2f2f2;
    }
  }
}
.sub-menu__link {
  color: black;
  display: inline-block;
  padding: 15px 10px;
  a {
    @include font(Roboto, normal, normal, 14px, #333333);
    line-height: 157%;
    letter-spacing: -0.02em;
  }
}

// info

.header__info {
  display: flex;
  &-email {
    margin-right: 94px;
    @include font(Roboto, normal, normal, 14px, #333333);
    line-height: 157%;
    letter-spacing: -0.02em;
  }
  &-callback {
    margin-right: 37px;
    a {
      @include font(Roboto, normal, normal, 14px, #333333);
      line-height: 157%;
      letter-spacing: -0.02em;
    }
  }
  &-number {
    @include font(Roboto, normal, normal, 14px, #333333);
    line-height: 157%;
    letter-spacing: -0.02em;
    margin-right: 18px;
  }
}

// action

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 22px;
  margin-bottom: 25px;
  &__catalog {
    p {
      @include font(Roboto, normal, normal, 18px, #2b2b2b);
      line-height: 22px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
    }
    padding-left: 56px;
    position: relative;
    cursor: pointer;
    &:before {
      content: "";
      background: url(/src/img/burger.png) no-repeat center;
      width: 35px;
      height: 10px;
      top: 0;
      bottom: 0;
      left: 0px;
      margin: auto;
      position: absolute;
    }
  }
  &__logo {
    width: 206px;
    height: auto;
    margin-left: 25px;
  }
  &__calculate {
    a {
      @include font(Roboto, normal, normal, 18px, #2b2b2b);
    }
    line-height: 22px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(21, 21, 21, 0.22);
  }
}

// routing

.routing {
  text-align: center;
  margin-bottom: 53px;
  &__page {
    a {
      @include font(Roboto, normal, normal, 18px, #2b2b2b);
    }
    span {
      @include font(Roboto, normal, normal, 18px, #a7a4a4);
    }
  }
}

// h1 title

.title {
  text-align: center;
  margin-bottom: 54px;
  h1 {
    @include font(Cormorant Garamond, normal, 300, 72px, #272727);
    line-height: 107.8%;
    letter-spacing: -0.025em;
    text-transform: uppercase;
  }
}
